		<header>
			<img src='{{{uiRootPath}}}/img/logotype.svg' width='32px' height='32px' />
			<nav>
				<ul>
					<li>
						<a href="javascript:void(0)">Documentation</a>
						<ul>
							<li><a href="#">Tutorials</a></li>
							<li><a href="#">How Tos</a></li>
							<li><a href="#">Explanations</a></li>
							<li><a href="#">Reference</a></li>
							<li><a href="#">Licensing</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)">Downloads</a>
						<ul>
							<li><a href="#">Source Code</a></li>
							<li><a href="#">Latest Release</a></li>
							<li><a href="#">Release History</a></li>
						</ul>
					</li>
					<li><a href="#">Store</a></li>
				</ul>
			</nav>
		</header>