		<aside class='lside'>
			<nav>
				{{> lside-tree itemtree=page.navigation}}
			</nav>
			{{~#each site.components~}}
				{{~#if (eq this @root.page.component)~}}
				<ul>
					{{~#each versions ~}}
					<li{{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} class="current"{{/if~}}><a href="{{ ./url }}">{{ ./version }}</a></li>
					{{~/each~}}
				</ul>
				{{~/if~}}
			{{~/each~}}
		</aside>
