aside.lside {
  grid-area: lside;
  color: var(--color-lside-foreground);
  background-color: var(--color-lside-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside.lside > ul {
  list-style-type: none;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0 0 0.6rem 2rem;
}

aside.lside > ul > li {
  display: inline-block;
  margin-right: 0.2rem;
}

aside.lside > ul > li > a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-lside-link-normal-color);
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  border: 1px solid var(--color-lside-foreground);
  border-radius: 0.5rem;
}

aside.lside > ul > li > a:visited {
  color: var(--color-lside-link-normal-color);
}

aside.lside > ul > li > a:hover {
  color: var(--color-lside-link-hover-color);
}

aside.lside > ul > li.current > a {
  font-weight: 500;
  color: var(--color-lside-background);
  background-color: var(--color-lside-foreground);
}

aside.lside > nav > ul {
  margin: 0.5rem 0 0 0;
}

aside.lside > nav ul {
  list-style-type: none;
  padding: 0 0 0 1rem;
}

aside.lside > nav li {
  font-size: 0.9rem;
  text-decoration: none;
}

aside.lside > nav li > a {
  display: block;
  text-decoration: none;
  color: var(--color-lside-link-normal-color);
}

aside.lside > nav li > a:visited {
  color: var(--color-lside-link-normal-color);
}

aside.lside > nav li > a:hover {
  color: var(--color-lside-link-hover-color);
}

aside.lside > nav li.current > a {
  font-weight: 500;
  color: var(--color-lside-link-current-color);
}
