@media (min-width: 1366px) {
  body.hlmrf {
    grid-template-columns: 1fr minmax(auto, 70%) 1fr;
    grid-template-rows: 3rem auto 2rem;
    grid-template-areas:
      "header header header"
      "lside  main   rside"
      "footer footer footer";
  }

  body.hmrf {
    grid-template-columns: 1fr minmax(auto, 70%) 1fr;
    grid-template-rows: 3rem auto 2rem;
    grid-template-areas:
      "header header header"
      "main   main   rside"
      "footer footer footer";
  }

  body.hlmf {
    grid-template-columns: 1fr minmax(auto, 70%) 1fr;
    grid-template-rows: 3rem auto 2rem;
    grid-template-areas:
      "header header header"
      "lside  main   main"
      "footer footer footer";
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  body.hlmrf {
    grid-template-columns: 1fr minmax(auto, 50%) 1fr;
    grid-template-rows: 3rem auto 2rem;
    grid-template-areas:
      "header header header"
      "lside  main   rside"
      "footer footer footer";
  }

  body.hmrf {
    grid-template-columns: 1fr minmax(auto, 50%) 1fr;
    grid-template-rows: 3rem auto 2rem;
    grid-template-areas:
      "header header header"
      "main   main   rside"
      "footer footer footer";
  }

  body.hlmf {
    grid-template-columns: 1fr minmax(auto, 50%) 1fr;
    grid-template-rows: 3rem auto 2rem;
    grid-template-areas:
      "header header header"
      "lside  main   main"
      "footer footer footer";
  }
}
