aside.rside {
  grid-area: rside;
  border-left: 1px solid var(--color-silver);
}

aside.rside > nav h1 {
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.4rem 0 0 0.4rem;
}

aside.rside > nav ul {
  list-style-type: none;
}

aside.rside > nav li {
  font-size: 0.9rem;
  text-decoration: none;
}

aside.rside > nav li > a {
  display: block;
  text-decoration: none;
  color: var(--color-rside-link-normal-color);
  padding: 0.1rem 0 0 0;
}

aside.rside > nav li > a:hover {
  color: var(--color-rside-link-hover-color);
}

aside.rside > nav li > a:visited {
  color: var(--color-rside-link-normal-color);
}

aside.rside > nav li.current > a {
  font-weight: 500;
  color: var(--color-rside-link-current-color);
}

aside.rside > nav > ul > li > a { padding-left: 1rem; }
aside.rside > nav > ul > li > ul > li > a { padding-left: 2rem; }
aside.rside > nav > ul > li > ul > li > ul > li > a { padding-left: 3rem; }
aside.rside > nav > ul > li > ul > li > ul > li > ul > li > a { padding-left: 4rem; }
aside.rside > nav > ul > li > ul > li > ul > li > ul > li > ul > li > a { padding-left: 5rem; }
aside.rside > nav > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > a { padding-left: 6rem; }
