* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

pre {
  font-family: 'Roboto Mono', monospace;
  white-space: pre;
}

code {
  font-family: 'Roboto Mono', monospace;
  white-space: pre;
  word-break: keep-all;
}

kbd {
  font-family: 'Roboto Mono', monospace;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: var(--color-main-foreground);
  background-color: var(--color-main-background);
  scroll-behavior: smooth;
}

ol,
ul {
  margin-left: 1rem;
}
