:root {
  --color-white: #fff;
  --color-black: #000;
  --color-turquoise: #1abc9c;
  --color-greensea: #16a085;
  --color-mediumturquoise: #4ecdc4;
  --color-lightseagreen: #1ba39c;
  --color-emerald: #2ecc71;
  --color-nephritis: #27ae60;
  --color-gossip: #87d37c;
  --color-salem: #1e824c;
  --color-peterriver: #3498d8;
  --color-belizehole: #2980b9;
  --color-riptide: #86e2d5;
  --color-dodgerblue: #19b5fe;
  --color-amethyst: #9b59b6;
  --color-wisteria: #8e44ad;
  --color-lightwisteria: #be90d4;
  --color-plum: #913d88;
  --color-wetasphalt: #34495e;
  --color-midnightblue: #2c3e50;
  --color-hoki: #67809f;
  --color-ebonyclay: #22313f;
  --color-sunflower: #f1c40f;
  --color-tangerine: #f39c12;
  --color-confetti: #e9d460;
  --color-capehoney: #fde3a7;
  --color-carrot: #e67e22;
  --color-pumpkin: #d35400;
  --color-ecstasy: #f9690e;
  --color-jaffa: #f27935;
  --color-alizarin: #e74c3c;
  --color-pomegranate: #c0392b;
  --color-monza: #cf000f;
  --color-thunderbird: #d91e18;
  --color-clouds: #ecf0f1;
  --color-silver: #bdc3c7;
  --color-gallery: #eee;
  --color-iron: #dadfe1;
  --color-concrete: #95a5a6;
  --color-asbestos: #7f8c8d;
  --color-pumice: #d2d7d3;
  --color-lynch: #6c7a89;
  --color-header-background: var(--color-ebonyclay);
  --color-header-foreground: var(--color-gallery);
  --color-lside-background: var(--color-gallery);
  --color-lside-foreground: var(--color-ebonyclay);
  --color-lside-link-normal-color: var(--color-ebonyclay);
  --color-lside-link-hover-color: var(--color-dodgerblue);
  --color-lside-link-current-color: var(--color-belizehole);
  --color-main-background: var(--color-white);
  --color-main-foreground: var(--color-ebonyclay);
  --color-breadcrumbs-link-normal-color: var(--color-ebonyclay);
  --color-breadcrumbs-link-hover-color: var(--color-dodgerblue);
  --color-breadcrumbs-link-current-color: var(--color-belizehole);
  --color-admonition-note-background: var(--color-belizehole);
  --color-admonition-note-foreground: var(--color-white);
  --color-admonition-tip-background: var(--color-salem);
  --color-admonition-tip-foreground: var(--color-white);
  --color-admonition-warning-background: var(--color-tangerine);
  --color-admonition-warning-foreground: var(--color-white);
  --color-admonition-caution-background: var(--color-pumpkin);
  --color-admonition-caution-foreground: var(--color-white);
  --color-admonition-important-background: var(--color-monza);
  --color-admonition-important-foreground: var(--color-white);
  --color-admonition-icon-shadow: var(--color-ebonyclay);
  --color-note-background: var(--color-wisteria);
  --color-note-foreground: var(--color-white);
  --color-header-border: var(--color-silver);
  --color-table-border: var(--color-silver);
  --color-mark-background: var(--color-sunflower);
  --color-kbd-background: var(--color-gallery);
  --color-kbd-border: var(--color-concrete);
  --color-exampleblock-background: var(--color-capehoney);
  --color-exampleblock-foreground: var(--color-black);
  --color-listingblock-background: var(--color-clouds);
  --color-listingblock-foreground: var(--color-black);
  --color-literalblock-background: var(--color-clouds);
  --color-literalblock-foreground: var(--color-black);
  --color-quoteblock-foreground: var(--color-black);
  --color-quoteblock-border: var(--color-asbestos);
  --color-sidebarblock-background: var(--color-wisteria);
  --color-sidebarblock-foreground: var(--color-white);
  --color-rside-background: var(--color-clouds);
  --color-rside-foreground: var(--color-ebonyclay);
  --color-rside-link-normal-color: var(--color-ebonyclay);
  --color-rside-link-hover-color: var(--color-dodgerblue);
  --color-rside-link-current-color: var(--color-belizehole);
  --color-footer-background: var(--color-hoki);
  --color-footer-foreground: var(--color-iron);
  --color-form-neutral: var(--color-concrete);
  --color-form-success: var(--color-nephritis);
  --color-form-failure: var(--color-monza);
  --color-form-selected: var(--color-dodgerblue);
  --main-padding: 3rem;
  --form-border-width: 1px;
  --form-prefix-width: 1.2rem;
  --form-input-spacing: 0.4rem;
  --form-field-padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  --form-input-padding: 0.2rem;
}
